body, html 
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    color:white;
    scroll-behavior:smooth;
    background-color: #191919;

}

@media screen and (min-width:320px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}

@media screen and (min-width:480px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}

@media screen and (min-width:600px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}

@media screen and (min-width:801px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}

@media screen and (min-width:1025px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}

@media screen and (min-width:1281px) {
    /*
    
    */
        #tnl_div
        {
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            width: 100%;
            height:100vh;
            position: relative;
        }
        #div2
        {
            text-align: center;
        }
        #title
        {
            top:20%;
            left:13%;
            right:0;
            font-size: 50px;
            position: absolute;
        }
        #short_description
        {
            top:27%;
            left:13%;
            right:0;
            font-size:30px;
            position:absolute;
        }
        #logo
        {
            width: 100%;
            height:100vh;
            border-radius: 10px;
            object-fit:cover;
            position:absolute;
            background-size:100%;
            background-repeat: no-repeat;
        }
    /*
    
    */
        #container
        {
            margin-top:2%;
            position: relative;
        }
        #center_content
        {
            left:39%;
            width:56%;
            height:900px;
            background-color: rgb(33, 32, 34);
            position: absolute;
            border-radius: 5px;
            
        }
        #news_title
        {
            top:2%;
            text-align: center;
            position:relative;
        }
        #img1
        {
            top:4%;
            left:3.2%;
            width:93%;
            height:400px;
            background-size:50, 50;
            object-fit: cover;
            position:relative;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("https://i.gifer.com/Uftg.gif");
        }
        #p1
        {
            top: 0;
            position:relative;
            text-align: center;
        }
        #p2
        {
            left:5%;
            position: absolute;
        }
        #p3
        {
            left: 35%;
            bottom:15%;
            position: absolute;
        }
        #p4
        {
            left: 59%;
            bottom:15%;
            position: absolute;
        }
        #left_content
        {
            left:-65%;
            right:100%;
            text-align: left;
            position:absolute;
        }
}